<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Page title{% endblock title %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'main_site/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'main_site/css/style.css' %}">
  <script src="{% static 'js/script.js' %} "></script>
</head>
<body class="container-fluid bg-image bg-img">
    <header class="row align-items-center justify-content-center">
      <a class="col-4 col-xs-3 col-sm-2 col-md-1" href="{% url 'main_site:home' %}"><img class="img-fluid header-logo" src="{% static 'main_site/img/pur_beurre_logo.png' %}"></a>
      <h1 class="col-6 col-sm-4">Pur beurre</h1>
      <form class="col-12 col-xs-10 col-sm-6 col-md-4 col-lg-3" action = "/research/" method = "get">
        <input class="col-9" id="product_searched" type="text" name="product_searched" placeholder="Recherche de produit">
        <input class="btn btn-secondary col-2"  type="submit" value="OK">
      </form>
      <a class="col-4 col-md-1 text-center" href="{% url 'main_site:account' %}"><img class="img-fluid header-logo" src="{% static 'main_site/img/user-logo.png' %}"></a>
      <a class="col-4 col-md-1 text-center" href="{% url 'main_site:favorites' %}"><img class="img-fluid header-logo" src="{% static 'main_site/img/carrot-logo.png' %}"></a>
      {% comment %} Contribution de Jeremy, le roi de Symfony. {% endcomment %}
      {% if user.is_authenticated %}
      <a class="col-4 col-md-1 text-center" href="{% url 'user_management:logout' %}"><img class="img-fluid header-logo" src="{% static 'main_site/img/deconection-logo.png' %}"></a>
      {% endif %}
    </header>
    <section>
        {% block content %}Page contents{% endblock content %}
    </section>
    <div>ㅤ</div>
    <footer class="row justify-content-center fixed-bottom">
      <hr>
      <a class="col-6 text-center text-decoration-none text-dark" href="{% url 'main_site:notice' %}"><strong>Mentions légales</strong></a>
      <a class="col-6 text-center text-decoration-none text-dark" href="mailto:mail@mail.com"><strong>Contact</strong></a>
    </footer>
</body>
</html>