[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
requests = "*"

[dev-packages]
coverage = "*"
webdriver-manager = "*"
pytest = "*"

[requires]
python_version = "3.8"
