{% extends "base/base.html" %}
{% load static %}

{% block title %}Compte{% endblock title %}

{% block content %}
<h1 class="row justify-content-center my-3">Bonjour {{ username }} !</h1>
<p class="row justify-content-center fs-4 my-4">Email : {{ email }}</p>
<h2 class="row justify-content-center my-5">{{ favorite_message }}</h2>
<div class="row">
    {% for product in favorite_products %}
        <div class="col-12 col-sm-6 col-lg-4">
            <div>
                <h2 class="col text-center my-4">{{ product.name }}</h2>
            </div>
            <div class="row h4 mt-3 mb-5">
                <div class="col text-center">
                    <span class="badge rounded-pill mussels-bg">{{ product.nutriscore }}</span>
                </div>
            </div>
            <div class="row justify-content-center mb-5">
                <a class="col product-presentation text-center" href="{% url 'main_site:product' product.id %}">
                    <img class="substitution-product-img" src="{{ product.img_url }}">
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}