{% extends "base/base.html" %}
{% load static %}

{% block title %}Favoris{% endblock title %}

{% block content %}
<h2 class="row justify-content-center my-5">{{ favorite_message }}</h2>
<div class="row">
    {% for product in favorite_products %}
        <div class="col-4">
            <div>
                <h2 class="col text-center my-4">{{ product.name }}</h2>
            </div>
            <div class="row h4 mt-3 mb-5">
                <div class="col text-center">
                    <span class="badge rounded-pill mussels-bg">{{ product.nutriscore }}</span>
                </div>
            </div>
            <div class="row justify-content-center mb-5">
                <a class="col product-presentation text-center" href="{% url 'main_site:product' product.id %}">
                    <img class="substitution-product-img" src="{{ product.img_url }}">
                </a>
            </div>
            <form class="row justify-content-center" method="post" action="{% url 'main_site:add-favorite' %}">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}"></input>
                <button type="submit" class="fs-3 disk-button" style="{% if product not in favorite_products %} color:rgba(0, 0, 0, 0.5){% endif %}">💾</button>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock content %}