{% extends "base/base.html" %}
{% load static %}

{% block title %}Mentions légales{% endblock title %}
{% block content %}
<h1 class="row justify-content-center">Mentions légales</h1>
<ul class="row justify-content-center">
    <li class="row justify-content-center">Image de fond : Kawin Harasai</li>
    <li class="row justify-content-center">Logo d'utilisateur : WMF User Experience Design group</li>
    <li class="row justify-content-center">Logo de carotte : Fabien Jouin</li>
    <li class="row justify-content-center">Logo de déconnexion : Dave Gandy</li>
    <li class="row justify-content-center">Logo de téléphone : yupiramos</li>
    <li class="row justify-content-center">Logo de mail : panom73</li>
    <li class="row justify-content-center">Image de fond utilisateur : Olenka Kotyk</li>
</ul>
{% endblock content %}