{% extends "base/base.html" %}
{% load static %}

{% block title %}Aliment{% endblock title %}

{% block content %}
<div class="row">
    <h2 class="col-8 text-center my-4">{{ focused_product.name }}</h2>
</div>
<div class="row h4 mt-3 mb-5">
    <div class="col-8 text-center">
        <span class="badge rounded-pill mussels-bg">{{ focused_product.nutriscore }}</span>
    </div>
</div>
<div class="row">
    <a class="col-8 product-presentation text-center" href="{{ focused_product.url }}">
        <img class="focused-product-img" src="{{ focused_product.img_url }}">
    </a>
    <div class="col-2 mt-2">
        <h3 class="text-center">Valeur nutritive</h3>
        <table class="table bg-light rounded">
            <tbody>
                <tr>
                    <th scope="row">Kcal/100g</th>
                    <td>{{ focused_product.kcal }}</td>
                </tr>
                <tr>
                    <th scope="row">Lipides/100g</th>
                    <td>{{ focused_product.fat }}</td>
                </tr>
                <tr>
                    <th scope="row">Protéines/100g</th>
                    <td>{{ focused_product.protein }}</td>
                </tr>
                <tr>
                    <th scope="row">Glucides/100g</th>
                    <td>{{ focused_product.sugar }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<form class="row justify-content-center mt-5" method="post" action="{% url 'main_site:add-favorite' %}">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ focused_product.id }}"></input>
    <button type="submit" class="fs-1 disk-button" style="{% if focused_product not in favorite_products %} color:rgba(0, 0, 0, 0.5){% endif %}">💾</button>
</form>
<hr class="my-5">
<h2 class="row justify-content-center">Produits de substitution</h2>
<div class="row">
    {% for product in substitute_products %}
        <div class="col-4">
            <div>
                <h2 class="col text-center my-4">{{ product.name }}</h2>
            </div>
            <div class="row h4 mt-3 mb-5">
                <div class="col text-center">
                    <span class="badge rounded-pill mussels-bg">{{ product.nutriscore }}</span>
                </div>
            </div>
            <div class="row justify-content-center mb-5">
                <a class="col product-presentation text-center" href="{% url 'main_site:product' product.id %}">
                    <img class="substitution-product-img" src="{{ product.img_url }}">
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}