{% extends "base/base.html" %}
{% load static %}

{% block title %}Recherche{% endblock title %}

{% block content %}
<form class = "row justify-content-center mt-5" action = "/research/" method = "get">
    <div class="col-1"></div>
    <input class="col-2" id="product_searched" type="text" name="product_searched" placeholder="Recherche de produit">
    <div class="col-1">
        <input class="btn btn-primary"  type="submit" value="OK">
    </div>
</form>
<div class="row">
    {% for product in results %}
        <div class="col-4">
            <div>
                <h2 class="col text-center my-4">{{ product.name }}</h2>
            </div>
            <div class="row h4 mt-3 mb-5">
                <div class="col text-center">
                    <span class="badge rounded-pill mussels-bg">{{ product.nutriscore }}</span>
                </div>
            </div>
            <div class="row justify-content-center mb-5">
                <a class="col product-presentation text-center" href="{% url 'main_site:product' product.id %}">
                    <img class="substitution-product-img" src="{{ product.img_url }}">
                </a>
            </div>
            <form method="post" action="{% url 'main_site:add-favorite' %}">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}"></input>
                <button type="submit" class="fs-3 disk-button text-center">💾</button>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock content %}