h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}

a {
    font-family: "Scope One", sans-serif;
}

html, body {
    height: 100%;
}

header {
    background-color: #C45525;
}

footer {
    background-color: #DE9440;
}

.bg-img {
    background-color:rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../img/main-page-back-ground.png");
    height: 100%;
}