{% extends "base/base.html" %}

{% block title %}Connexion{% endblock title %}

{% block content %}
  {% if form.errors %}
    <p class="row justify-content-center">Les identifiants sont incorrects. Veuillez réessayer</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p class="row justify-content-center">Votre compte n'a pas accès à cette page.</p>
    {% else %}
      <p class="row justify-content-center">Connectez vous pour voir ce contenu.</p>
    {% endif %}
  {% endif %}

  <form class="mt-5" method="post" action="{% url 'user_management:login' %}">
    {% csrf_token %}
    <div class="row justify-content-center">
      <p class="col-6 text-end">{{ form.username.label_tag }}</p>
      <p class="col-6">{{ form.username }}</p>
    </div>
    <div class="row justify-content-center">
      <p class="col-6 text-end">{{ form.password.label_tag }}</p>
      <p class="col-6">{{ form.password }}</p>
    </div>
    <div class="row justify-content-center">
      <p class="col-12 text-center"><input type="submit" value="Connexion" /></p>
      <input class="col-12 text-center" type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>
  
  <p class="row justify-content-center">
    <a class="col-12 text-center" href="{% url 'user_management:signup' %}">Voulez vous créer un compte ?</a>
  </p>
{% endblock content %}