{% extends 'base/base.html' %}

{% block title %}Création de compte{% endblock title %}

{% block content %}
  <h2 class="row justify-content-center">Création d'un compte</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="row justify-content-center">
      <p class="col-12 text-center">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    </div>
    {% endfor %}
    <div class="row justify-content-center">
      <p class="col-12 text-center"><button type="submit">Création</button></p>
    </div>
  </form>
  <p class="row justify-content-center">
    <a class="col-12 text-center" href="{% url 'user_management:login' %}">Vous avez déjà un compte ?</a>
  </p>
{% endblock %}